* {
  color: lightslategray;
}

.navbar {
  background-color: #FFB6C1;
}

body p {
  width: 750px;
}

.about-me, .resume, .contact {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #FFF0F5;
}

img {
  height: 300px;
  margin-bottom: 20px;
}

#jumbotron {
  background-color: #FFF0F5;
  margin-bottom: 0;
  height: 100%;
}

.contact-info, #jumbotron {
  text-align: center;
}

.about-me:target, .resume:target, .contact:target {
  display: flex;
}

.navbar-brand:target ~ #jumbotron, .about-me:target ~ #jumbotron, .resume:target ~ #jumbotron, .contact:target ~ #jumbotron, .jumbotron:target {
  display: none;
}

.lead, .info {
  margin: 0 auto;
}

.jumbotron p {
  font-size: 40px;
  font-weight: 250;
}

.jumbotron .info {
  font-size: 30px;
  font-weight: 200;
}

.btn {
  margin: 20px 40px;
}

#resume-heading {
  margin-bottom: 40px;
}
