* {
  color: lightslategray;
}

.navbar {
  background-color: #FFB6C1;
}

body p {
  width: 750px;
}

.about-me, .resume, .contact {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #FFF0F5;
}

#jumbotron {
  background-color: #FFF0F5;
  margin-bottom: -75px;
  height: 100%;
}

.contact-info, #jumbotron {
  text-align: center;
}

.about-me:target, .resume:target, .contact:target {
  display: flex;
}

.navbar-brand:target ~ #jumbotron, .about-me:target ~ #jumbotron, .resume:target ~ #jumbotron, .contact:target ~ #jumbotron, .jumbotron:target {
  display: none;
}

.lead, .info, article {
  margin: 0 auto;
}

.jumbotron p {
  font-size: 40px;
  font-weight: 250;
}

.jumbotron .info {
  font-size: 30px;
  font-weight: 200;
}

.btn {
  margin: 20px 40px;
}

#resume-heading, #about-heading, #contact-heading {
  margin-bottom: 30px;
}

#work, #tech, #edu {
  margin-top: 30px;
  margin-bottom: 15px;
}

article {
  width: 600px;
}

html, body {
  background-color: #FFF0F5;
  height: 100%;
}

.navbar-nav .nav-item:hover .nav-link,
.navbar-nav .nav-item:active .nav-link,
.navbar-nav .nav-item:focus .nav-link {
  color: #fff;
}

button {
  cursor: pointer;
}

.contact-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icons a {
  display: inline-block;
  margin: 10px;
}

.contact-icons img {
  width: 90px;
  height: 90px;
  border-radius: 20%;
  transition: transform 0.2s;
}

.contact-icons img:hover {
  transform: scale(1.1);
}

.img-fluid {
  max-width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.rounded-pill {
  border-radius: 50rem;
}

.d-block {
  display: block;
}