* {
  color: lightslategray;
}

.navbar {
  background-color: #FFB6C1;
}

.about-me h2 {
  margin-bottom: 20px;
}

body p {
  width: 750px;
}

.about-me, .resume, .contact, .landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #FFF0F5;
}

img {
  height: 300px;
}
